{% extends 'responsible_clientele_home/index.html.twig' %}

{% block body %}

    <main id="main" class="main">

        {% include 'responsible_clientele_home/transactions/detailsTable.html.twig' %}
    </main>

{% endblock %}