{% extends 'clientdash/index.html.twig' %}

{% block body %}


    <main id="main" class="main">
        <p>
            could involve actions such as creating, editing, or deleting categories, as well as assigning appropriate
            titles to these categories to classify transactions effectively. This feature allows users to better
            understand their spending habits, allocate budgets, and generate reports for financial analysis.
        </p>
    </main>

{% endblock %}
